@import "../../assets/styles/mixin-function";

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__icon-search {
    background-color: var(--bg-purple);
    width: 60px;
    height: 60px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    img {
      width: 34px;
      height: 34px;
      position: absolute;
      top: 50%;
      left: 50%;
      @include translate(-50%, -50%);
    }
    @include mobile-screen {
      width: 40px;
      height: 40px;
      border-radius: 8px;
    }
  }
}
